@font-face {
    font-family: 'philosopherregular';
    src: url('philosopher-regular.eot');
    src: url('philosopher-regular.eot?#iefix') format('embedded-opentype'),
         url('philosopher-regular.woff') format('woff'),
         url('philosopher-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'philosopherbold';
    src: url('philosopher-bold.eot');
    src: url('philosopher-bold.eot?#iefix') format('embedded-opentype'),
         url('philosopher-bold.woff') format('woff'),
         url('philosopher-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'philosopheritalic';
    src: url('philosopher-italic.eot');
    src: url('philosopher-italic.eot?#iefix') format('embedded-opentype'),
         url('philosopher-italic.woff') format('woff'),
         url('philosopher-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'philosopherbold_italic';
    src: url('philosopher-bolditalic.eot');
    src: url('philosopher-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('philosopher-bolditalic.woff') format('woff'),
         url('philosopher-bolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}